body { background: #545208; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 44px; display: flex; }
.block-uploader-0 { color: #185218; font-size: 15px; margin-bottom: 5px; }
.block-metrics-1 { color: #3f0961; font-size: 21px; margin-bottom: 5px; }
.block-shipping-2 { color: #a518bb; font-size: 15px; margin-bottom: 5px; }
.block-order-3 { color: #9144f5; font-size: 14px; margin-bottom: 5px; }
.block-cluster-4 { color: #f2bee5; font-size: 14px; margin-bottom: 5px; }
.block-sms-5 { color: #767cd0; font-size: 21px; margin-bottom: 5px; }